{% extends 'pharmacy/base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="container">
          <div class="page-inner">
            <div class="page-header">
              <h3 class="fw-bold mb-3">All Sales</h3>
              <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                  <a href="{% url 'index' %}">
                    <i class="icon-home">&nbspDashboard</i>
                  </a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>

                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex align-items-center">
                      <!--
                      <h4 class="card-title">All Sale</h4>
                      <a href="{% url 'add_sale' %}" 
                        class="btn btn-primary btn-round ms-auto"
                        data-bs-toggle="modal"
                        data-bs-target="#addRowModal"
                      >
                        <i class="fa fa-plus"></i>
                        Add Sale
                      </a>
                    -->
                    </div>
                  </div>
                  <div class="card-body">
                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="addRowModal"
                      tabindex="-1"
                      role="dialog"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header border-0">
                            <h5 class="modal-title">
                              <span class="fw-mediumbold"> New</span>
                              <span class="fw-light"> Row </span>
                            </h5>
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                              aria-label="Close"
                            >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p class="small">
                              Add a New Sale
                            </p>
                            <form method="POST" action="{% url 'add_sale' %}">

                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <div class="card-footer">
                                      <button class="btn btn-primary w-100" type="submit">
                                        <b>Add Sale</b>
                                      </button>
                                    </div>

                            </form>

                          </div>
                          <!--
                          <div class="modal-footer border-0">
                            <button
                              type="button"
                              id="addRowButton"
                              class="btn btn-primary"
                            >
                              Add
                            </button>
                            <button
                              type="button"
                              class="btn btn-danger"
                              data-dismiss="modal"
                            >
                              Close
                            </button>
                          </div>
                        -->
                        </div>
                      </div>
                    </div>

                    <div class="table-responsive">
                      <table
                        id="add-row"
                        class="display table table-striped table-hover"
                      >
                        <thead>
                          <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                            <th>Sales Person</th>
                            <th>Order Price</th>
                          </tr>
                        </thead>

                        <tbody>
                          {% for sale in sales %}
                          <tr>
                            <td>{{ sale.product}}</td>
                            <td>{{ sale.quantity}}</td>
                            <td>{{ sale.total_price}}</td>
                            <td>{{ sale.salesperson}}</td>
                            <td>{{ sale.order_status}}</td>

                          </tr>
                          {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

{% endblock %}