{% extends 'pharmacy/base/base_combined.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
	<div class="page-inner">
		<!-- Pricing -->
        <h3 class="fw-bold mb-3" style="text-align:center;"><u>Choose your Package, Pay to Subscribe</u></h3>
        <div class="row justify-content-center align-items-center mb-1">
          <div class="col-md-4 ps-md-0">
            <div class="card card-pricing" style="background-color:#1262b6;">
              <div class="card-header">
                <h4 class="card-title" style="color:white;">Basic Package</h4>
                <div class="card-price">
                  <span class="price" style="color:white;">UGX 195,000/3 months</span>
                  <br>
                  <span class="text" style="color:;">65000/months</span>
                </div>
              </div>
              <div class="card-body">
                <ul class="specification-list">
                  <li>
                    <span class="name-specification">Premium Service</span>
                    <span class="status-specification">Yes</span>
                    <br>
                  </li>

                  <li>
                    <span class="name-specification">Support</span>
                    <span class="status-specification">Yes</span>
                  </li>                    

                </ul>
              </div>
              <div class="card-footer">
                <a href="" class="btn btn-light w-100">
                  <b>Get Started</b>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ps-md-0 pe-md-0">
            <div class="card card-pricing " style="background-color:#0f5b9e;">

              <div class="card-header">
                <h4 class="card-title" style="color:white;">Professional(Discounted)</h4>
                <div class="card-price">
                  <span class="price" style="color:white;">UGX 330,000/6 months</span>
                  <br>
                  <span class="text"  style="color:;">UGX 55000/month</span>
                </div>
              </div>
              <div class="card-body">
                <ul class="specification-list">
                  <li>
                    <span class="name-specification">Premium Service</span>
                    <span class="status-specification">Yes</span>
                    <br>
                  </li>

                  <li>
                    <span class="name-specification">Support</span>
                    <span class="status-specification">Yes</span>
                  </li>                    

                </ul>
              </div>
              <div class="card-footer">
                <a href="" class="btn btn-light w-100">
                  <b>Get Started</b>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 pe-md-0">
            <div class="card card-pricing" style="background-color:#0a4b7e;">
              <div class="card-header">
                <h4 class="card-title" style="color:white;">Supper Discounted</h4>
                <div class="card-price">
                  <span class="price" style="color:white;">UGX 504,000/year</span>
                  <br>
                  <span class="text"  style="color:;">UGX 42000/month</span>
                </div>
              </div>
              <div class="card-body">
                <ul class="specification-list">
                  <li>
                    <span class="name-specification">Premium Service</span>
                    <span class="status-specification">Yes</span>
                    <br>
                  </li>

                  <li>
                    <span class="name-specification">Support</span>
                    <span class="status-specification">Yes</span>
                  </li>                    

                </ul>
              </div>
              <div class="card-footer">
                <a href="" class="btn btn-light w-100">
                  <b>Get Started</b>
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
      


{% endblock %}